@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap');

/* General */

body{

    line-height: 1.6;
    text-align: center;
/*  font-family: 'Fjalla One', sans-serif;*/
   font-family: 'Dancing Script', cursive;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

button,
button:active {
  background-color: rgb(234,178,156);
  border: none;
  width: 42px;
  height: 40px;
  border-radius: 100%;
  text-align: center;
  box-shadow: 0.2em 0.2em rgb(194, 91, 44);
  -webkit-box-shadow: 0.2em 0.2em rgb(194, 91, 44);
  -moz-box-shadow: 0.2em 0.2em rgb(194, 91, 44);
}

button:focus {
  translate: 0.2em 0.2em;
  box-shadow: 0.2em 0.2em rgb(194, 91, 44) inset;
  -webkit-box-shadow: 0.2em 0.2em rgb(194, 91, 44) inset;
  -moz-box-shadow: 0.2em 0.2em rgb(194, 91, 44) inset;
}

/* Clock Body */

.clock-container {
  background-color: rgb(240, 240, 190); 
  width: 350px;
  border-radius: 20px;
  padding: 30px;
  box-shadow: 10px 10px sienna;
}

/* Display + Stop/Start/Reset Controls */

#time-left {
  font-size: 70px;
  text-align: center;
  background-color: rgb(150,180,175);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 3px 3px rgb(121, 145, 141) inset;
}

#display-controls {
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#timer-label {
  font-size: 25px;
  text-align: center;
  padding-top: 2px;
  background-color: rgb(150,180,175);
  border-radius: 10px;
  height: 40px;
  flex: 2;
  box-shadow: 3px 3px rgb(121, 145, 141) inset;
}

#timer-ssr {
  flex: 1;
  margin-left: 30px;
  display: flex;
  justify-content: space-between;
  flex-start: end;
}

/* Timer Length Controls */

.length-container {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.inc-dec-btn-container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 140px;
  height:60px;
}

.break-container, 
.session-container {
  text-align: center;
/*   display: inline-block; */
  border: 2px solid rgb(234,178,156);
  padding: 10px;
  border-radius: 10px;
  width: 48%;
}

.timer-length {
  font-size: 2em;
}

.break-container,
.inc-arrow {
  margin-right: 12px;
}


h1 {
    margin-top: 0;
}

.full-table {
    display: flex;
    height: 100%;
    width: 100%;
}

.table-cell {
    display: flex;
    vertical-align: middle;
    text-align: center;
}

.card {
    padding: 10px 25px 10px 25px;
    
    background: rgba(235, 236, 237, 0.3);
    width: 100%;
    color: #000;
   
}


.clock {
    display: inline;
    font-family: 'Bebas Neue', cursive;
    font-size: 2em;
   
}

.time {
    display: inline;
    min-width: 37px;
}

.colon {
    font-size: 1.1em;
    display: inline-block;
}

.date {
    display: inline;
    min-width: 162px;
    font-size: 2em;
    padding-right: 30px;
}
.greet{
    
    display:inline;
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
     padding-right: 30px;
}

   /* Time left style   */

   .h3{
    margin: 0 ;
    font-size: 2em;
    font-weight: 100;
   }

        .box{
            display: inline-block;
            display: inline-block;
            color: #fff;
            padding: 10px;
            min-width: 60px;
        }
        #days{
            background-color:#3e4545;
        }
        #hours{
            background-color:#556363;
        }
        #minutes{
            background-color:#6d7c7c;
        }
        h2{
            display: inline-block;
            margin-right: 10px;
            margin-block-start: 5px;
        }
        h3{
            text-align: center;
            
        }
        .small{
            font-size: 15px;
            font-weight: 100;
        }

